<!DOCTYPE html>
<html lang="en">
<head>
<title>PyDAIR Report</title>

<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<style>
h1, h2, h3, h4, h5, h6 {
    font-family: -apple-system, Helvetica, Arial, sans-serif;
    font-weight: 100;
}
article {
    margin-top: 80px;
    font-family: -apple-system, Helvetica, Arial, sans-serif;
    font-weight: 100;
}
</style>


</head>
<body>



<nav class="navbar navbar-default  navbar-fixed-top">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="#h_top">Top</a></li>
        <li><a href="#h_basic">Basic</a></li>
        <li><a href="#h_V">V</a></li>
        <li><a href="#h_D">D</a></li>
        <li><a href="#h_J">J</a></li>
        <li><a href="#h_VDJ">VDJ</a></li>
        <li><a href="#h_CDR3">CDR3</a></li>
      </ul>
    </div>
  </div>
</nav>



<div class="container">
<article id="h_top">
    <div class="page-header">
        <h1>PyDAIR Analysis Report</h1>
    </div>
    
    
    <section id="h_basic" class="panel panel-default">
        <div class="panel-heading"><h2>Basic statistics</h2></div>
        <div class="panel-body">
        <table class="table table-condensed">
        <thead>
        <tr>
            <td>Sample</td>
            <td># sequences</td>
            <td>V<br />frequency</td>
            <td>D<br />frequency</td>
            <td>J<br />frequency</td>
            <td>VDJ<br />frequency</td>
            <td>CDR3 length<br />frequency</td>
            <td>CDR3<br />sequence</td>
        </tr>
        </thead>
        <tbody>
        {% for item in sample_stats %}
            <tr>
            <td>{{ item.name }}</td>
            <td>{{ item.libsize }}</td>
            <td><a>TXT</a></td>
            <td><a>TXT</a></td>
            <td><a>TXT</a></td>
            <td><a>TXT</a></td>
            <td><a>TXT</a></td>
            <td><a>FASTA</a></td>
            </tr>
        {% endfor %}
        </tbody>
        </table>
        </div>
    </section>




    {% for item in freq_stats %}
    <section id="h_{{ item.gene }}" class="panel panel-default">
        <div class="panel-heading"><h2>{{ item.gene }} gene usage</h2></div>
        <div class="row panel-body">
           <div class="col-md-4">
                <p>Data for bar charts in tab-delimited text.</p>
                <textarea class="form-control" rows="{{ item.count }}">{{ item.freq_csv }}</textarea>
            </div>
            <div class="col-md-8">
                <div id="{{ item.gene }}_freq_plot"></div>
            </div>
        </div>
    </section>
    {% endfor %}
 


    <section id="h_CDR3" class="panel panel-default">
        <div class="panel-heading"><h2>CDR3 length</h2></div>
        <div class="row panel-body">
           <div class="col-md-4">
                <p>Basic statistics.</p>
                <textarea class="form-control" rows="10">{{ cdr3_stats.freq_csv }}</textarea>
            </div>
            <div class="col-md-8">
                <div id="cdr3len_freq_plot"></div>
            </div>
        </div>
    </section>


</article>       
</div>








</article>

</div>




<script type="text/javascript">
<!--
google.charts.load('current', {packages:['bar']});



{% for item in freq_stats %}

google.charts.setOnLoadCallback(drawChart{{ item.gene }});

function drawChart{{ item.gene }}() {
    var dataJson    = {{ item.freq_json }};
    var sampleNames = Object.keys(dataJson);
    var geneNames   = Object.keys(dataJson[sampleNames[0]]);
    
    // define columns of data object.
    var dataTable = [];
    var dataTableHeader = ['Gene'];
    for (var i = 0; i < sampleNames.length; i++) {
        dataTableHeader.push(sampleNames[i]);
    }
    dataTable.push(dataTableHeader);
    
    // add data into data object.
    for (var j = 0; j < geneNames.length; j++) {
        var dataRow = [geneNames[j]];
        for (var i = 0; i < sampleNames.length; i++) {
            dataRow.push(dataJson[sampleNames[i]][geneNames[j]]);
        }
        dataTable.push(dataRow);
    }
    
    // create google visualization object.
    var dataTable = new google.visualization.arrayToDataTable(dataTable);
    
    var options = {
        title: '{{ item.gene }} gene usage',
        subtitle: 'Frequency of {{ item.gene }} gene usage',
        height: 14 * (sampleNames.length) * (geneNames.length * 1.05) + 40,
        bars: 'horizontal',
        hAxis: {format: 'scientific'},
    };
    var chart = new google.charts.Bar(document.getElementById('{{ item.gene }}_freq_plot'));
    chart.draw(dataTable, google.charts.Bar.convertOptions(options));
}
{% endfor %}




google.charts.setOnLoadCallback(drawChartCDR3Length);

function drawChartCDR3Length() {
    var dataJson     = {{ cdr3_stats.freq_json }};
    var sampleNames  = Object.keys(dataJson);
    var lengthValues = Object.keys(dataJson[sampleNames[0]]);
    
    // define columns of data object.
    var dataTable = [];
    var dataTableHeader = ['Gene'];
    for (var i = 0; i < sampleNames.length; i++) {
        dataTableHeader.push(sampleNames[i]);
    }
    dataTable.push(dataTableHeader);
    
    // add data into data object.
    for (var j = 0; j < lengthValues.length; j++) {
        if (7 < lengthValues[j] && lengthValues[j] < 25) {
            var dataRow = [lengthValues[j]];
            for (var i = 0; i < sampleNames.length; i++) {
                dataRow.push(dataJson[sampleNames[i]][lengthValues[j]]);
            }
            dataTable.push(dataRow);
        }
    }
    
    // create google visualization object.
    var dataTable = new google.visualization.arrayToDataTable(dataTable);
    
    var options = {
        title: 'CDR3 length distribution',
        subtitle: 'Length distribution of complementarity determining region 3 (CDR3) amino acid sequences',
        height: 400,
        bars: 'vertical',
        hAxis: {format: 'scientific'},
    };
    var chart = new google.charts.Bar(document.getElementById('cdr3len_freq_plot'));
    chart.draw(dataTable, google.charts.Bar.convertOptions(options));
}


-->
</script>







</body>
</html>
