<!DOCTYPE html>
<html lang="en">
<head>
<title>PyDAIR Report</title>

<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<style>
h1, h2, h3, h4, h5, h6 {
    font-family: -apple-system, Helvetica, Arial, sans-serif;
    font-weight: 100;
}
article {
    margin-top: 80px;
    font-family: -apple-system, Helvetica, Arial, sans-serif;
    font-weight: 100;
}

/* bootstrap style sheet */
.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.panel-default {
    border-color: #ddd;
}
.panel-danger {
    border-color: #ebccd1;
}
.panel-default > .panel-heading {
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
}
.panel-danger > .panel-heading {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}
.panel-body {
    padding: 15px;
}
</style>


</head>
<body>

<div class="container">
<article id="h_top">
    
    <section id="load_status" class="panel panel-danger" style="display:none;">
        <div class="panel-heading">Warnings</div>
        <div class="panel-body">
        <p>This page loads Google Charts API for drawing graphs and Bootstrap for rendering page desing via internect. Make sure you have internet connections.</p>
        </div>
    </section>


    
    <div class="page-header">
        <h1>PyDAIR Analysis Report</h1>
    </div>
    
    
    
        <table class="table table-bordered">
        <thead>
        <tr>
            <td>Sample</td>
            <td># sequences</td>
            <td colspan="4">gene usage frequencies</td>
            <td>rarefaction analysis</td>
            <td colspan="2">CDR3 length</td>
        </tr>
        </thead>
        <tbody>
        {% for item in sample_stats %}
            <tr>
            <td>{{ item.name }}</td>
            <td>{{ item.libsize }}</td>
            <td><a href="{{ item.vfreq }}">V</a></td>
            <td><a href="{{ item.dfreq }}">D</a></td>
            <td><a href="{{ item.jfreq }}">J</a></td>
            <td><a href="{{ item.vdjfreq }}">VDJ</a></td>
            <td><a href="{{ item.vdjrarefaction }}">VDJ</a></td>
            <td><a href="{{ item.cdr3protlen }}">amino acid</a></td>
            <td><a href="{{ item.cdr3nucllen }}">nucleotide</a></td>
            </tr>
        {% endfor %}
        </tbody>
        </table>




    {% for item in freq_stats %}
    <section id="h_{{ item.gene }}" class="panel panel-default">
        <div class="panel-heading"><h2>{{ item.gene }} gene usage</h2></div>
        <div class="row panel-body">
           <div class="col-md-4">
                <button type="button" class="btn btn-default" onClick="drawChart{{ item.gene }}(true)">Percentage</button>
                <button type="button" class="btn btn-default" onClick="drawChart{{ item.gene }}(false)">Frequency</button>
            </div>
            <div class="col-md-8">
                <div id="{{ item.gene }}_freq_plot"></div>
            </div>
        </div>
    </section>
    {% endfor %}
 


    <section id="h_CDR3" class="panel panel-default">
        <div class="panel-heading"><h2>CDR3 length</h2></div>
        <div class="row panel-body">
           <div class="col-md-4">
                <button type="button" class="btn btn-default" onClick="drawChartCDR3Length(true)">Percentage</button>
                <button type="button" class="btn btn-default" onClick="drawChartCDR3Length(false)">Frequency</button>
            </div>
            <div class="col-md-8">
                <div id="cdr3len_freq_plot"></div>
            </div>
        </div>
    </section>
    
    
    
    {% if rarefaction_stats is not none %}
    <section id="h_rarefaction" class="panel panel-default">
        <div class="panel-heading"><h2>Rarefaction study for VDJ combinations</h2></div>
        <div class="row panel-body">
           <div class="col-md-4">
                <p>Basic statistics.</p>
                <textarea class="form-control" rows="10">{{ rarefaction_stats.tries_csv }}</textarea>
            </div>
            <div class="col-md-8">
                <div id="rarefaction_VDJ_plot"></div>
            </div>
        </div>
    </section>
    {% endif %}
    
    
    
    

</article>       
</div>








</article>

</div>




<script type="text/javascript">
<!--
if (! navigator.onLine) {
    document.getElementById("load_status").style.display = "block";
    document.getElementById("load_status").style.visibility = "visible";
}


function jsonToDataTable(dataJson, idName = '', transToValue = false, prob = false) {
    var colNames = Object.keys(dataJson);
    var rowNames = Object.keys(dataJson[colNames[0]]);
    var dataTable = [];
    var dataTableHeader = [idName];
    for (var i = 0; i < colNames.length; i++) {
        dataTableHeader.push(colNames[i]);
    }
    dataTable.push(dataTableHeader);
    for (var j = 0; j < rowNames.length; j++) {
        var dataRow = [rowNames[j]];
        for (var i = 0; i < colNames.length; i++) {
            dataRow.push(dataJson[colNames[i]][rowNames[j]]);
        }
        dataTable.push(dataRow);
    }
    
   if (prob) {
        for (var j = 0; j < colNames.length; j++) {
            var sum = 0;
            for (var i = 0; i < rowNames.length; i++) {
                sum += dataTable[i + 1][j + 1];
            }
            for (var i = 0; i < rowNames.length; i++) {
                dataTable[i + 1][j + 1] = dataTable[i + 1][j + 1] / sum;
            }
        }
    }
    if (transToValue) {
        for (var i = 0; i < rowNames.length; i++) {
            dataTable[i + 1][0] = Number(dataTable[i + 1][0]);
        }
    }
    return {'dataTable': dataTable,
            'colNames' : colNames,
            'rowNames' : rowNames};
}


google.charts.load('current', {packages:['bar', 'line']});




{% for item in freq_stats %}
google.charts.setOnLoadCallback(drawChart{{ item.gene }});
function drawChart{{ item.gene }}(prob = true) {
    
    var xlab = "Frequency of {{ item.gene }} gene usage";
    var ylab = "{{ item.gene }} gene family";
    var axisFormat = "scientific"
    if (prob) {
        xlab = "Percentage of {{ item.gene }} gene usage";
        axisFormat = "percent"
    }
    
    var data = jsonToDataTable({{ item.freq_json }}, 'Gene', false, prob);
    var dataTable = new google.visualization.arrayToDataTable(data.dataTable);
    var options = {
        title: '{{ item.gene }} gene usage',
        height: 14 * (data.colNames.length) * (data.rowNames.length * 1.05) + 40,
        bars: 'horizontal',
        hAxis: {title: xlab, format: axisFormat},
        vAxis: {title: ylab},
    };
    var chart = new google.charts.Bar(document.getElementById('{{ item.gene }}_freq_plot'));
    chart.draw(dataTable, google.charts.Bar.convertOptions(options));
}
{% endfor %}


google.charts.setOnLoadCallback(drawChartCDR3Length);
function drawChartCDR3Length(prob = true) {
    
    var xlab = "CDR3 amino acid sequence length";
    var ylab = "Frequency of sequences";
    var axisFormat = "scientific"
    if (prob) {
        ylab = "Percentage of sequences";
        axisFormat = "percent"
    }
    
    var data = jsonToDataTable({{ cdr3_stats.freq_json }}, 'Length', true, prob);
    var dataLimited = [data.dataTable[0]]
    for (var i = 0; i < data.rowNames.length; i++) {
        if (7 < Number(data.rowNames[i]) && Number(data.rowNames[i]) < 25) {
            dataLimited.push(data.dataTable[i + 1]);
        }
    }
    var dataTable = new google.visualization.arrayToDataTable(dataLimited);
    var options = {
        title: 'CDR3 length distribution',
        subtitle: 'Length distribution of complementarity determining region 3 (CDR3) amino acid sequences',
        height: 400,
        bars: 'vertical',
        vAxis: {title: ylab, format: axisFormat},
        hAxis: {title: xlab},
    };
    var chart = new google.charts.Bar(document.getElementById('cdr3len_freq_plot'));
    chart.draw(dataTable, google.charts.Bar.convertOptions(options));
}





{% if rarefaction_stats is not none %}

google.charts.setOnLoadCallback(drawChartRarefactionVDJ);
function drawChartRarefactionVDJ() {
    var data = jsonToDataTable({{ rarefaction_stats.tries_json }}, 'numSeq', true, false);
    var dataTable = new google.visualization.arrayToDataTable(data.dataTable);
    var options = {
        title: 'Rarefaction study for VDJ combination diversity',
        subtitle: 'Rarefaction study for VDJ combination diversity',
        height: 400,
        hAxis: {title: 'Number of captured sequences', format: 'scientific'},
        vAxis: {title: 'Number of unique VDJ combinations'},
        interpolateNulls: true,
    };
    var chart = new google.charts.Line(document.getElementById('rarefaction_VDJ_plot'));

    chart.draw(dataTable, google.charts.Line.convertOptions(options));
}

{% endif %}


-->
</script>







</body>
</html>
